{% extends "base.html" %}

{% block body_content %}

  <h1 class="heading-large">Identity Gateway</h1>
  <div class="text">
    <p class="lede">This service allows users to log in to GaaP services with
    their existing credentials.</p>
  </div>

  <hr />

  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium flush--top">How do I use this with my GaaP service?</h2>
      <p>You will need to register your service</p>
    </div>
    <div class="column-half">
      <p>
        <a href="" class="button">Register your service</a>
      </p>
      <details>
        <summary>What you'll need to register</summary>
        <div>You will need to provide your service name and URL</div>
      </details>
    </div>
  </div>

{% endblock %}
