{% extends "base.html" %}

{% block content %}

<div class="product-style">
  <div id="content">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">GOV.UK Access</h1>

        <p class="lede"> 
        GOV.UK Access is an easy, secure and fast way for services to manage the authentication of their users.
        </p>

        <p>It allows users to... It also gives service teams the tools they need to... 
        </p>

        <a class="button button-start" href="" role="button">
          Try out the product
        </a>

        <p class="button-hint">
        You will able able to: 
        </p>
        <ul>
          <li>...</li> 
          <li>...</li>
          <li>...</li>
        </ul>

        <p class="design-update">
        Last updated: secs ago :)
        </p>

      </div>
    </div>
  </div>
</div>

<main id="content" role="main">


<div class="grid-row">

      <div class="column-two-thirds">

      <h2 class="heading-large" id="1">Benefits of GOV.UK Access</h2>

      <p>...</p> 
      </div>

</div>

    
  <div class="grid-row">
      <div class="column-one-half">
        <p>Benefits to service teams include:</p>

        <ul class="list list-bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
      </div>

      <div class="column-one-half">
        <p>Benefits to civil servant users include:</p>

        <ul class="list list-bullet">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
       </div>

       <div class="column-one-half">
         <p>Benefits to civil servant users include:</p>

         <ul class="list list-bullet">
           <li>...</li>
           <li>...</li>
           <li>...</li>
         </ul>
       </div>
  </div>

  <div class="grid-row">

      <div class="column-two-thirds">
      <hr>

          <h2 class="heading-large" id="3">Try it out</h2>

          <p><a href="#">...</a></p>
          <p><a href="#">...</a></p>

      </div>
  </div>

  <div class="grid-row">
      <div class="column-two-thirds">
      <hr>
          <h2 class="heading-large" id="4">Documentation</h2>

          <p><a href="documentation.html">View documentaton for GOV.UK Access</a></p>

          <p>Documentation includes:</p>

          <ul class="list list-bullet">
            <li>...</li>
            <li>...</li>
            <li>...</li>
          </ul>
      </div>

  </div>

  <div class="grid-row">
      <div class="column-two-thirds">
       <hr>
          <h2 class="heading-large" id="5">Contact the GOV.UK Access team</h2>

          <p>...</p>

          <p>To contact the team email:</p>

          <p>????@digital.cabinet-office.gov.uk</p>
      </div>
  </div>

</main>
{% endblock %}
