{% extends "base.html" %}

{% block main_content %}

  <a href="{{ url_for('main.request_email_address', email_address=session["email_address"]) }}" class="link-back">Back</a>

<div id="confirm-dept">
  <h1 class="heading-large text">Confirm the department that you work for</h1>

  {% if session["email_address"] %}
  <div class="text email-callout">
    <p>Email address you provided</p>
    <div class="email-given">{{ session["email_address"] }}</div>
    <p><a id="change_email" href="{{ url_for('main.change_email_address', email_address=session["email_address"]) }}">Change email</a></p>
  </div>
  {% endif %}

  <h2 class="heading-medium">Do you work for the {{ session["department_name"] }}?</h2>

  <form id="form" method="post">{{ form.csrf_token }}
    <div class="form-group">
      <fieldset>
            <legend class="visuallyhidden">Do you work for {{ session["department_name"] }}?</legend>

            {% with subfields=form.confirm|list %}
            <label class="block-label selection-button-radio" for="{{subfields[0].id}}">
            {{subfields[0]}}
            {{subfields[0].label}}
            </label>

            <label class="block-label selection-button-radio" for="{{subfields[1].id}}">
            {{subfields[1]}}
            {{subfields[1].label}}
            </label>
            {% endwith %}
      </fieldset>
    </div>

    <div class="form-group">
      <button class="button">Continue</button>
    </div>

  </form>
</div>

{% endblock %}