{% extends "base.html" %}

{% block main_content %}

  <h1 class="heading-large text">Select the department you work for</h1>

  <div class="text email-callout">
    <p>Email address you provided</p>
    <div class="email-given">{{session["email_address"]}}</div>
    <p><a href="">Update this email</a></p>
  </div>

  <p class="text">Based on the email you have provided we believe you work for
  one of the departments listed below. Please select the correct department.</p>

  <h2 class="heading-medium">Which department do you work for?</h2>

    <form method="post" class="form">{{ form.csrf_token }}
    <div class="form-group">
      <fieldset>
        <legend class="visuallyhidden">Which department do you work for?</legend>

        {% for subfield in form.idp %}
        <label class="block-label selection-button-radio" for="{{subfield.id}}">
          {{subfield}}
          {{subfield.label}}
        </label>
        {% endfor %}
      </fieldset>
    </div>

    <div class="form-group">
      <button class="button">Continue</button>
    </div>
  </form>

{% endblock %}
