{% extends "base.html" %}

{% block main_content %}

  <h1 class="heading-xlarge">Select department</h1>

  <form class="form">
    {{form.dept_list}}
    <label for="" class="form-label">Search for your department</label>
    <div class="main-search idp-search">
      <input type="text" class="search__input" id="dept-search" placeholder="enter department name here" />
      <input class="search__submit" type="submit" value="Search" />
    </div>
  </form>

{% endblock %}

{% block body_end %}
<script type=text/javascript>
var searchRequest = null;

$(function () {
    var minlength = 3;

    $("#dept-search").keyup(function () {
        var that = this,
        value = $(this).val();

        console.log('search');

        if (value.length >= minlength ) {
            if (searchRequest != null) 
                searchRequest.abort();
            searchRequest = $.ajax({
                type: "GET",
                url: "/_search-dept",
                data: {
                    'search_term' : value
                },
                dataType: "text",
                success: function(msg){
                    //we need to check if the value is the same
                    if (value==$(that).val()) {
                      console.log(msg);
                    //Receiving the result of search here
                    }
                }
            });
        }
    });
});
</script>
{% endblock %}
