{% extends "base.html" %}

{% block main_content %}
<main id="content" role="main">
  <div class="messaging-panel">
    <div class="gird-row">
      <div class="column-quarter single-image">
        <img src="/static/images/icon-not-authenticated.png" alt="Not yet authenticated">
      </div>
      <div class="column-three-quarters panel-content">
        <p class="lede">We are now redirecting you to your work email. This will allow you to be authenticated.</p>
        <div class="panel">If you already have an active session you will not be asked to re-enter you credentials.</div>
      </div>
    </div>

  </div>

</main>
{% endblock %}

{% block body_end %}
<meta http-equiv="refresh" content="5; url={{ url_for('broker.auth',idp_hint=session['suggested_idp']) }}">
{% endblock %}