{% extends "base.html" %}

{% block main_content %}
<main id="content" role="main">
  <div class="messaging-panel">
    <div class="gird-row">
      <div class="column-quarter single-image">
        <img src="/static/images/icon-authenticated.png" alt="Authenticated">
      </div>
      <div class="column-three-quarters panel-content">
        <p class="lede">You have been authenticated. You are now being redirected back to the GOV.UK Notify service.</p>
        <div class="panel">You are currently signed into your work email account.</div>
      </div>
    </div>

  </div>

</main>
{% endblock %}

{% block body_end %}
<meta http-equiv="refresh" content="5; url={{ session['auth_redirect'] }}">
{% endblock %}
