{% extends "base.html" %}

{% block main_content %}
<main id="content" role="main">
  <div class="messaging-panel">
    <div class="gird-row">
      <div class="column-third single-image">
        <img src="/static/images/icon-authed-large.svg" alt="Authenticated">
      </div>
      <div class="column-two-thirds panel-content">
        <p class="lede">You have been authenticated. You are now being redirected back to the GOV.UK Notify service.</p>
        <div class="panel">You are currently signed into your work email account.</div>
      </div>
    </div>

  </div>

  <div class="pagination">
    <ul>
      <li class="next">
        <a href="{{ session['auth_redirect'] }}">
          <span class="pagination-label">Continue</span>
          <span class="pagination-text">If this doesn't redirect in <span class="redirect-timer">{{ config['META_REFRESH_DELAY'] }} seconds</span> click here</span>
        </a>
      </li>
    </ul>
  </div>

</main>
{% endblock %}

{% block body_end %}
  <meta http-equiv="refresh" content="{{ config['META_REFRESH_DELAY'] }}; url={{ session['auth_redirect'] }}">
  {% include '/includes/redirect.html' %}
{% endblock %}
