.product-style {
  background-color: #005EA5;
  color: #ffffff;
  margin-top: -10px;
  width: 100%;
  height: 570px;
  overflow-x: hidden;
  overflow-y: hidden;

  .button-start, .button-get-started {
    background-image: url("/static/images/icon-pointer.png");
  }

  a:link,
  a:hover,
  a:active,
  a:visited{
    color: $white;
  }

  a.button-start {
    background-color: #fff;
    color: #005EA5;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.button-hint {
    margin-top: 30px;
}

// from Notify product page
.sign-in-link {
  color: white;
  margin-top: $gutter;
}

.design-update {
  margin-top: $gutter;
  font-size: 16px;
}
