.main-search {
  position: relative;
  .search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(/static/govuk_frontend_toolkit/images/icon-search-2x.png) 6px 25% no-repeat $light-blue;
    background-size: 75%;
    background-position: 11px;
    border: 1px solid $light-blue;
    text-indent: -5000px;

    &:hover {
      cursor: pointer;
    }
  }
}

.search__label {
  @include core-24;
  display: block;
  margin-top: -1.25em;
}

.search__input {
  width: 100%;
  line-height: 48px;
  border: 1px solid $border-colour;
  padding: 0 65px 0 15px;
  box-sizing: border-box;
}

.search--dark {
  .search__input {
    border: none;
  }
  .search__submit {
    background-color: #0B0C0C;
    border: none;
    height: 48px;
  }
}

.search__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 16px;
  color: $secondary-text-colour;
  text-indent: $gutter-half;
}
