{#
govuk_template.html defines the following blocks:

- top_of_page
- page_title
- head
- body_classes
- body_start
- cookie_message
- header_class
- inside_header
- proposition_header
- after_header
- content
- footer_top
- footer_support_links
- body_end

See https://github.com/alphagov/govuk_template for more
information regarding the template.

#}

{% if not config['TESTING'] %}
    {# Do not extend GovUK Template when testing #}

    {% extends "govuk_template/views/layouts/govuk_template.html" %}

    {% block head %}

      {% assets "css_govuk", "css_main" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}

      <script src="/static/js/vendor/jquery/jquery.min.js"></script>

      {% block endhead %}{% endblock %}

    {% endblock %}

{% endif -%}

{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Choose how to log in</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>You can help us improve this app by getting in touch and providing feedback.</span>
      </p>
    </div>
    {% block main_content %}{% endblock %}
  </main>
{% endblock %}

{% block body_end %}

  {# js scripts here #}
  {% include 'includes/scripts.html' %}

{% endblock %}
