{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  {% assets "css_main" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <script src="/static/js/vendor/jquery/jquery.min.js"></script>

  {% block endhead %}{% endblock %}

{% endblock %}

{% block body_classes %}full-width{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Identity Gateway</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="full-width-container">
    {% block top_banner %}
    <div class="grid-row">
    </div>
    {% endblock %}
  </div>

  <main id="wrapper" role="main">
    <div id="content">

      {# include "partial/_messages.html" #}

      {# include "partial/login_state.html" #}

      {% block body_content %}{% endblock %}

    </div>
  </main>
{% endblock %}
